:root{
    --text-color: #830f07;
    --bg-color:#FFCDD2;
    --bg-ul-color:#455A64;
    --section-padding: 90px 0 120px;
    --s_title-color:#9d800c;
    --figur-color: #FFFF00;
    --tags-table__item-xl: 150px;
    --tags-table__item-lg: 135px;
    --tags-table__item-ml: 100px;
    --tags-table__item-sml: 90px;
    --tags-table__item-xsml: 70px;
}
